extends ../layouts/common 
block content  
    form(action="/", method="get", class="flex-2")
        input(type="text" name="q")
        button Search 
    a(href="#") Create User
    table(class="table")
        thead
            tr
                th(scope='col') STT
                th(scope='col') Name
                th(scope='col') Phone Number
                th(scope='col') 
                th(scope='col') 
                th(scope='col')

            tbody
                each user in users
                    tr
                        th(scope='row')= (users.indexOf(user) + 1) + (indexPage-1)*perPage
                        td= user.first_name
                        td= user.phone
                        td
                            a(href="#") View
                        td
                            a(href="#") Edit
                        td
                            a(href="#") Delete
    nav(aria-label='Page navigation example' class="container")
        ul(class="pagination justify-content-center")
            if indexPage === 1
                li.page-item
                a.page-link(href=`/users?page=${indexPage}`)= indexPage
                li.page-item
                a.page-link(href=`/users?page=${indexPage + 1}`)= indexPage + 1
                li.page-item
                a.page-link(href=`/users?page=${indexPage + 2}`)= indexPage + 2
                li.page-item
                a.page-link(href=`/users?page=${indexPage + 1}`, aria-label='Next')
                    span(aria-hidden='true') &raquo;
            else if indexPage === lastPage
                li.page-item
                a.page-link(href=`/users?page=${indexPage -1}`, aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                li.page-item
                a.page-link(href=`/users?page=${indexPage-2}`)= indexPage - 2
                li.page-item
                a.page-link(href=`/users?page=${indexPage-1}`)= indexPage - 1
                li.page-item
                a.page-link(href=`/users?page=${indexPage}`)= indexPage
            else 
                li.page-item
                a.page-link(href=`/users?page=${indexPage -1}`, aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                li.page-item
                a.page-link(href=`/users?page=${indexPage-1}`)= indexPage - 1
                li.page-item
                a.page-link(href=`/users?page=${indexPage}`)= indexPage 
                li.page-item
                a.page-link(href=`/users?page=${indexPage+ 1}`)= indexPage + 1
                li.page-item
                a.page-link(href=`/users?page=${indexPage+ 1}`, aria-label='Next')
                    span(aria-hidden='true') &raquo;
